<div class="jumbotron">
  <h1>{{title}}</h1>
  <p>
    A meal-sharing platform for the modern college student.
  </p>
  <p>
    <a class="btn btn-primary btn-lg" href="/about" role="button">Learn More</a>
  </p>
</div>
