<div class="row content">

  <!-- Google Map placeholder -->
  <div class="col-md-7">
    <div class = "panel">
      <div id=map></div>
      <script type="text/javascript">

var map;
function initMap() {
  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 30.438, lng: -84.28},
    zoom: 8
  });
}

    </script>
    </div>
  </div>

  <!-- Side Panel -->
  <div class="col-md-5">
    <div class="panel panel-default">
      <!-- Panel Title -->
      <div class="panel-heading">
        <h2 class="panel-title text-center">Post a meal!</h2>
      </div>
      <!-- Panel Body -->
      <div class="panel-body">
        Form will go here
      </div>
    </div>
  </div>
</div>
