<div class="col-md-7">
  <h1>Meal</h1>
  <div class="panel">
    <p>
      {{meal.title}}
    </p>
    <p>
      {{meal.price}}
    </p>
    <p>
      {{meal.location}}
    </p>
    <p>
      {{meal.orderby}}
    </p>
    
    <p>
      <a href="/menu">Hungry</a> instead?
    </p>
  </div>
</div>
