<div class="row content">

  <!-- Google Map placeholder -->
  <div class="col-md-7">
    <div class = "panel panel-default">
      <div id=map></div>
    </div>
  </div>

  <!-- Side Panel -->
  <div class="col-md-5">
    <div class="panel panel-default">
      <!-- Panel Title -->
      <div class="panel-heading">
        <h2 class="panel-title text-center">Meals on Munch</h2>
      </div>
      <!-- Panel Body -->
      <div class="panel-body">
        <form action="/menu" method="post">
          <button type="submit" class="btn btn-warning btn-lg" name="button">Test</button>
        </form>
      </div>
    </div>
  </div>
</div>
