<div class="col-md-7">
  <h1>Profile</h1>
  <div class="panel">
    <p>
      {{user.username}}
    </p>
    <p>
      {{user.email}}
    </p>
    <p>
      Let's make some <a href="/cook">food.</a>
    </p>
    <p>
      <a href="/menu">Hungry</a> instead?
    </p>
  </div>
</div>
