<div class="row content">

  <!-- Google Map placeholder -->
  <div class="col-md-7">
    <div id=map>
      <img src="holderjs/645x645">
    </div>
  </div>

  <!-- Side Panel -->
  <div class="col-md-5">
    <div class="panel panel-default">
      <!-- Panel Title -->
      <div class="panel-heading">
        <h2 class="panel-title text-center">Post a meal!</h2>
      </div>
      <!-- Panel Body -->
      <div class="panel-body">
        Form will go here
      </div>
    </div>
  </div>
</div>
